@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to the Contract Monthly Claim System (CMCS),
        your streamlined solution for managing and processing monthly claims with ease and efficiency.
        Designed to simplify the submission, approval, and tracking of claims, CMCS provides a user-friendly interface that ensures a smooth experience for both lecturers and administrators.
        Whether you're submitting claims, uploading supporting documents, or reviewing claim statuses, CMCS is built to enhance productivity and reduce administrative burden. 
        Start managing your claims effortlessly with CMCS today!

    </p>
</div>
