@{
    ViewData["Title"] = "Lecturer List";
}

<h2>Lecturer List</h2>

<p>
    <a asp-action="ViewsLecturerCreate">Create New Lecturer</a>
    <a asp-action="ViewsLecturerEdit"> edit Lecturer</a>
    <a asp-action="ViewsLecturerDetails"> details Lecturer</a>
    <a asp-action="ViewsLecturerDelete"> delete Lecturer</a>
     
</p>
