@{
    ViewData["Title"] = "Claim List";
}

<h2>Claim List</h2>

<p>
    <a asp-action="ViewsClaimCreate">Create New Claim</a>
    <a asp-action="ViewsClaimEdit">edit Claim</a>
    <a asp-action="ViewsClaimDetails">details New Claim</a>
    <a asp-action="ViewsClaimDelete">delete New Claim</a>
</p>
